<div class="form-container">
  <h2>Add New Expense</h2>
  <form (ngSubmit)="addExpense()">
    <label>Title*</label>
    <input type="text" [(ngModel)]="title" name="title" required>

    <label>Description</label>
    <textarea [(ngModel)]="description" name="description"></textarea>

    <label>Amount*</label>
    <input type="number" [(ngModel)]="amount" name="amount" required>

    <label>Date*</label>
    <input type="date" [(ngModel)]="date" name="date" required>

    <!-- ✅ New fields -->
    <label>Bill/Invoice No*</label>
    <input type="text" [(ngModel)]="bill_no" name="bill_no" required>

    <label>Bill/Invoice Date*</label>
    <input type="date" [(ngModel)]="bill_date" name="bill_date" required>


    <button type="submit">Add Expense</button>
  </form>
</div>
